body {
	background: ;
}
header {
	background: #453111;
	height: 100px;
	margin-bottom: 10px;
}
header h2 {
	font-family: 'Special Elite', cursive;
	font-size: 1.5em;
	color: #fff;
	margin: 0px;
	padding: 45px 0px 0px 25px;
	
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}
h1 {
	font-family: 'Playball', cursive;
	font-size: 3.5em;
	margin:0px;
	padding: 25px 15px 0px 35px;
	color: #fff;
	float: left;
}
hr { 
	clear: left; 
}
aside {
	float: left;
	padding: 0px 10px 0px 35px;
	width: 20%;
}

footer {
	clear: left;
	font-style: italic;
	font-size: small;
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
#container {
	width: 1200px;
}

#map-canvas { 
	/*position: relative;*/
	height: 550px;
	width: 750px;
	float: left;
	margin-bottom: 10px;
}

#infowindow {
	width: 270px;
	height: 300px;
}

#start {
	position: absolute;
	width: 200px;
	height: 50px;
	background: #D3CBB8;
	border: 1px solid #C5BDAC;
	margin-left: 500px;
	margin-top: 150px;
	z-index: 99;
	padding: 4px 10px 0px 10px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.error {
	color: #D9442F;
}