body {
	margin: 15px;
}

h1 {
	font-family: 'Alfa Slab One', cursive;
	color: #f7941d;
}

#map-canvas { 
	height: 550px;
	width: 750px;
}

#infowindow {
	width: 300px;
}

#priority{
	margin-top: 10px;
}

#list{
	width: 200px;
}

#list p {
	margin-bottom: 0px;
}

